{% extends "base.html" %}
{% block head %}
<title> Login </title>
{% endblock head %}
{% block body %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="ui two column middle aligned very relaxed stackable grid">
    <div class="column">
        <form class="ui form" method="post">
            <div class="field">
                <label>Email</label>
                <div class="ui left input">
                    {{ form.email(placeholder='yourname@email.com') }}
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <div class="ui left input">
                    {{ form.password }}
                </div>
            </div>
            <div style="color:red">
                <p>{{ error }}</p>
            </div>
            {{ form.csrf_token }}
            <button class="ui blue submit button" type="submit">Login</button>
        </form>
    </div>
    <div class="ui vertical divider">
        Or
    </div>
    <div class="center aligned column">
        <a href="/register">
            <div class="ui big green labelled button">
                Sign Up
            </div>
        </a>
    </div>
</div>
{% endblock body %}
